<template>
  <div id="Dashboard">
      <div class="container">
        <h2>Overall Conduct</h2>
        <div class="row statistics">
          <div class="col-md-4">
            <h5>Total Completed</h5>
            <div class="line-1"></div>
          </div>
          <div class="col-md-4">
            <h5>In Progress</h5>
            <div class="line-2"></div>
          </div>
          <div class="col-md-4">
           <h5>Overdue</h5>   
           <div class="line-3"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h1 class="number">{{Totals.Completed}}</h1>
          </div>
          <div class="col-md-4">
             <h1 class="number">{{Totals.OnGoing}}</h1>
          </div>
          <div class="col-md-4">
             <h1 class="number">{{Totals.OverDue}}</h1>
          </div>
        </div>
      </div>

  <div class="progress-bars">
        <h5 class="text-left">All Projects : {{projects.length}}</h5>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="Totals/Totals.length * 100" aria-valuemin="0" aria-valuemax="100" :style="`width: ${Totals.CompletedPercent}%`">{{Totals.CompletedPercent}}% Completed</div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" :style="`width: ${Totals.OnGoingPercent}%`">{{Totals.OnGoingPercent}}% OnGoing</div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" :style="`width: ${Totals.OverDuePercent}%`">{{Totals.OverDuePercent}}% OevrDue</div>
        </div>
  </div>
    <!-- <div class="progress">
     <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
     <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div> -->
      <router-link tag="button" to="/projects" class="btn">Manage Projects</router-link> 
  </div>
</template>

<script>
// @ is an alias to /src

import {mapGetters} from 'vuex'

export default {
  name: 'Dashboard',

  data() {
    return {
      
    }
  },
  components: {

  },

  computed: mapGetters(['Totals' , 'projects'])

}
</script>


<style scoped>


    .btn{
      padding: .5rem 2rem;
      background: #e3f6f5;
    }
    

  h2{
    margin-bottom: 3rem;
  }

  .number{
    font-size: 55px;
    font-weight: bolder;
  }
  #Dashboard{

    border-radius: 5px;
    margin: 1rem 15rem;
    padding: 2rem;
    background: #272343 ;
    color: white;
  }
  .statistics{
    margin-bottom: 1rem;
  }

  .progress-bar{
    font-size: 15px;
    color: #e3f6f5;
    font-weight: bold;
  }

  .line-1,
  .line-2,
  .line-3{
      background: green;
      width: 80px;
      height: 4px;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      margin: 1rem auto;
  }
  .line-2{
    background: orange;
  }
  .line-3{
    background: red;
  }

  .progress{
    margin: 2rem 0;
    height: 30px;
  }
  
</style>
