<template>
  <div class="">
    
    <ProjectsList></ProjectsList>
  </div>
</template>

<script>

import ProjectsList from '../components/ProjectsList'
export default {

    components:{
      ProjectsList,
    }
}
</script>

<style scoped>


</style>