<template>
    <div id="AddProject">

        <!-- Modal -->
        <div class="modal fade" id="PopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Add Your Awesome Project</h5>

            </div>
            <div class="modal-body">
                <form id="AddForm" class="text-left">
                    <div class="form-group" >
                        <label for="ProjectName">Project Name</label>
                        <input  type="text" v-model="title" class="form-control" id="ProjectName">
                        <p class="small text-danger" v-show="title.length < 5">Project title must be more than 5 letters</p>
                    </div>
                    <div class="form-group">
                        <label for="DueTime">Days to Finish This Project</label>
                        <input type="number" min="0" v-model="DueTime" class="form-control" id="DueTime">
                        <p class="small text-danger" v-if="DueTime===0">Duetime must be more than 1 day</p>
                    </div>
                    <div class="form-group">
                        <button @click="NewProj($event)" :disabled="title.length < 5 || DueTime===0" class="submit btn btn-success" type="submit">Insert Project</button>
                        <button class="btn btn-danger mt-2" data-dismiss="modal" data-target="#PopUp">Close</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
        </div>
    </div>
</template>

<script>

import {mapMutations , mapGetters} from 'vuex'
export default {
    name:'AddProject',


    data() {
        return {
            title : '',
            DueTime: 0,
        }
    },

    computed:{
        ...mapGetters(['ID']),

    },

    

    methods: {
        ...mapMutations(['AddNewProject','IDgenerator']),

        NewProj(e){
            let payload = {
                title : this.title,
                DueTime : this.DueTime,
            }
            this.$store.commit('AddNewProject' , payload)
            document.getElementById("AddForm").reset();
            this.title='';
            this.DueTime = 0;    
            e.preventDefault();

        },


        },
}
</script>

<style>


    .submit{
        margin-top: 1rem;
        width: 100%;
    }


</style>