<template>
    <div class="container ">

        <div id="project-list" role="tablist">
        <div v-if="!projects.length" class="noProject">
            <h3 class="font-italic">You have no projects in the Field</h3>
            
        </div>
         <div v-for="project in projects" :key="project.id" class="project">
                    <b-card no-body class="card mb-1">
                        <b-card-header header-tag="header" class="p-1" role="tab">
                            <b-button class="project-head" block href="#" v-b-toggle="project.id" variant="info">
                                <div class="row text-left ">
                                    <div class="col-md-1">
                                        <div :class="`line ${project.status}`"></div>
                                    </div>
                                    <div class="col-md-6 align-self-center">
                                    <h4>{{project.title}}</h4>
                                    </div>
                                    <div class="col-md-3 align-self-center">Status : <span :class="`${project.status}`" style="background:none">{{project.status}}</span> </div>
                                    <div class="col-md-2 align-self-center"><span class="small more">More Details</span></div>
                                </div>

                        </b-button>
                        </b-card-header>
                        <b-collapse :id="project.id" visible accordion="my-accordion" role="tabpanel">
                            <b-card-body class="project-body">
                            <b-card-text v-if="project.progress!==100" class="text-left">Days Remaining : <span style="font-size:20px ; font-weight:bolder">{{project.DueTime}}</span> </b-card-text>
                            <b-card-text class="text-left">
                                <p class="font-weight-bold" v-if="project.progress === 100">Congratulations! Project is Done <span style="font-size:30px ; font-weight:bold"><b-icon icon="check-box" variant="success"></b-icon></span></p>
                                <p class="font-weight-bold" v-else>The Project Progress: {{project.progress}}% Done</p>
                                <div class="progress mt-2">
                                    <div v-if="project.progress === 100" class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" :style="`width:${project.progress}%`"></div>
                                    <div v-else class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" :style="`width:${project.progress}%`"></div>
                                </div>
                                <div class="progress-btn">
                                    <button :value="project.id" @click="Regress" class="btn pbtn" style="background:red"><b-icon-forward class="RegIcon mr-2"></b-icon-forward>Regress</button>
                                    <button :value="project.id" @click="Progress" class="btn pbtn" style="background:green">Progress<b-icon-forward class="ml-2"></b-icon-forward></button>
                                    <b-button :value="project.id" v-b-tooltip.hover.bottom title="Double Click To Delete!" @dblclick="DeleteProject" class="btn pbtn">Delete<b-icon icon="trash"></b-icon></b-button>

                                </div>
                                <div class="comments">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <textarea style="border-radius:5px ; padding:1rem" v-model="comment" name="comment" id="comment" cols="60" rows="2" placeholder="write your comment here..."></textarea>
                                            <button @click="Addcomment(project.id)" class="btn btn-primary mt-2">Send Comment</button>
                                        </div>
                                        <div class="col-md-6 comment-list">
                                            <span class="small font-italic">Comments: <span v-if="!project.comments.length">There is no comments for this project</span></span>
                                            <div v-for="comment in project.comments"  :key="comment.id" class="comment-item">
                                                <p><b-icon-chevron-compact-right></b-icon-chevron-compact-right>{{comment}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </b-card-text>
                            </b-card-body>
                        </b-collapse>
                    </b-card>
                </div>
            </div>

        </div>
    <!-- </div> -->

    
</template>

<script>

import {mapGetters , mapMutations} from 'vuex'
export default {
    name:'ProjectsList',


    data() {
        return {
            visible:false,
            comment:'',
            DeleteCheck:false,
        }
    },

    computed:mapGetters(['projects']),

    methods:{
        ...mapMutations(['ProjectProgress' , 'AddComment','DeleteProject']),


        Addcomment(id){
            let payload ={ id , comment : this.comment}
            this.$store.commit('AddComment' , payload)
            this.comment = ''
        },


        DeleteProject(e){
            console.log(e.target.value)
            this.$store.commit('DeleteProject' , e.target.value)
        },


        Progress(e){
            this.$store.commit('ProjectProgress' , e.target.value)
        },
        Regress(e){
            this.$store.commit('ProjectRegress' , e.target.value)
        }
    }
}
</script>

<style>

.noProject{
    margin: 15rem 10rem;
    padding: 1rem;
    
}




.modal{
    color: black;
}
.RegIcon{
    margin-top: 0.2rem;
    transform: rotate(180deg);
}

body{
    overflow-y: scroll;
}

.comment-list{
    height: 200px;
    overflow-y: scroll;
}

.comment-item p{
    color: white;
    padding: 0.3rem 0.2rem;
    border-radius: 5px;
    font-size: 20px;
    border-bottom: 1px dotted white;
}

.progress-btn{
    text-align: center;
    margin: 1rem auto;
}
.pbtn{
    margin-right: 1rem;
    color: white;
}

.pbtn:hover{
    background: #bae8e8 !important;
    color: black;
}

.project{
    margin-top: 1rem;
}

.project-head{
    color: black !important;
    padding: 1rem 1.25rem;
    background: #ffffff !important;
}
.project-body{
    border-radius: 5px;
    background: #272343;
    color: white;
}
.line{
    width: 5px;
    height: 100%;
}
.OnGoing{
    font-weight: bolder;
    background: orange;
    color: orange;
}
.Completed{
    font-weight: bolder;
    background: green;
    color: green;
}
.OverDue{
    font-weight: bolder;
    background: Red;
    color: Red;
}

.more{
    background: #272343;
    color: white;
    border-radius: 5px;
    padding: 0.3rem .5rem;
    transition: all 0.4 ease-in;
}
.more:hover{
    background: #bae8e8;
    color: black;
}

</style>