<template>
  <div id="navbar">
      <div class="row nav align-items-center">
          <div class="col-md-1">
            <div class="toggle-btn">
                <button @click="showSide" class="navbar-toggler first-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent20"
                    aria-controls="navbarSupportedContent20" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="animated-icon1"><span></span><span></span><span></span></div>
                </button>
            </div>
          </div>
          <div class="col-md-3">
                <img class="logo" :src="logo" alt="CoTodo-Logo">
          </div>
          <div class="col-md-8">
              <h2 class="header-text">ManaGe Your Awesome Projects</h2> 
          </div>
      </div>

      <div :class="`sidebar ${show}`">
            <ul>
                <router-link tag="li" to="/"><b-icon class="icon" icon="house-fill"></b-icon> Dashboard</router-link>
                <router-link tag="li" to="/projects"><b-icon class="icon"  icon="folder-fill"></b-icon> Projects</router-link>
                <router-link tag="li" to="/about"><b-icon icon="info-fill" class="icon"></b-icon> About</router-link>
                <button class="newPorject btn Addbtn" data-toggle="modal" data-target="#PopUp">Add new Project</button>
            </ul>
      </div>
  </div>
</template>

<script>
import logo from '../assets/logo-light.png'
import {mapGetters} from 'vuex'

export default {
    name:'toolbar',


    data() {
        return {
            logo,
            show: true,
        }
    },
    computed: mapGetters(['projects']),


    methods:{
        showSide(){
            this.show = !this.show
        },

        newProj(){
            console.log(this.projects)
        }
    }
}
</script>

<style>


    .icon{
        font-size: 25px;
        margin-right: 1rem;
    }
    .header-text{
        color: #e3f6f5;
    }
    .nav{
        padding: 1.25rem 0;
        background: #272343;
    }

    .sidebar{
        position: absolute;
        top: 130px;
        left: 0px;
        height: 100%;
        background: #e3f6f5;
        transition: transform 0.4s ease-in-out;
        transform: translateX(-180px)
    }

    .sidebar.true{
        transform: translateX(0px)
    }
    .sidebar ul{
        list-style: none;
       text-align: left;
       padding: 1rem 1.5rem;
    }

    .sidebar ul li{
        cursor: pointer;
        margin-top: .5rem;
        padding: 1rem .2rem;
        border-radius: 10px;
        font-weight: bolder;
        transition: all 0.3s ease-in;
    }
    .sidebar ul li:hover{
        background: #bae8e8;
    }

    .Addbtn{
        margin-top: 4rem;
        background: #272343 !important;
        padding: .5rem 1rem;
        color: white !important;
        transition: all 0.4 ease-in;
    }
    .Addbtn:hover{
        background: #bae8e8 !important;
        color: black !important;
    }


    .logo{
        max-width: 200px;
    }



/* hamburger menu */
        
    .animated-icon1{
        width: 30px;
        height: 20px;
        position: relative;
        margin: 0px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }

    .animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    .animated-icon1 span {
        background: #e3f6f5;
    }

    .animated-icon1 span:nth-child(1) {
        top: 0px;
    }

    .animated-icon1 span:nth-child(2) {
        top: 10px;
    }

    .animated-icon1 span:nth-child(3) {
        top: 20px;
    }

    .animated-icon1.open span:nth-child(1) {
        top: 11px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    .animated-icon1.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }

    .animated-icon1.open span:nth-child(3) {
        top: 11px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }

</style>