<template>
  <div id="app">
    <toolbar></toolbar>
    <AddProject></AddProject>
    <router-view/>
    
  </div>
</template>


<script>

import $ from 'jquery'
import toolbar from './components/toolbar'
import AddProject from './components/AddProject'
export default {
  components :{
    toolbar,
    AddProject,
  }
}




$(document).ready(function () {

  $('.first-button').on('click', function () {

    $('.animated-icon1').toggleClass('open');
  });
  $('.second-button').on('click', function () {

    $('.animated-icon2').toggleClass('open');
  });
  $('.third-button').on('click', function () {

    $('.animated-icon3').toggleClass('open');
  });
});
</script>
<style>
body{
  overflow: hidden;
}
#app {
  
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
 
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
